/*  your css code here. If applicable */
body {
  background: white;
}

.star {
  position: relative;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid yellow;
  margin: 50px;
}

.star::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -60px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 100px solid yellow;
}